# Ignore node_modules and build output
node_modules
.next
out

# Ignore environment variables and lock files
.env
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore compiled files
dist
coverage
*.log

# Ignore public assets
public/**/*.svg
public/**/*.png
public/**/*.jpg
public/**/*.jpeg
public/**/*.gif
public/**/*.webp

# Ignore specific configuration files
.vscode
.idea
.DS_Store

# Ignore specific files or directories
**/generated/**
**/vendor/**
